/* PINK */
.main {
  background-color: black;
}
.sign {
  text-align: center;
  font-size: 20px;
  width: 230px;
  height: 80px;
  border-radius: 4px;
  cursor: pointer;
}

.sign {
  background-color: transparent;
  border: 2px solid pink;
  color: pink;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sign:hover,
.sign:focus {
  -webkit-box-shadow: inset 0px 0px 8px 3px #ff94b8;
  box-shadow: 0px 0px 10px 3px #ff94b8, inset 0px 0px 10px 3px #ff94b8;
  border-color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff94b8, 0 0 40px #ff94b8,
    0 0 50px #ff94b8, 0 0 60px #ff94b8, 0 0 70px #ff94b8;
}

/* BLUE */

.sign-blue {
  text-align: center;
  font-size: 20px;
  width: 230px;
  height: 80px;
  border-radius: 4px;
  cursor: pointer;
}

.sign-blue {
  background-color: transparent;
  border: 2px solid #b194f3;
  color: #b194f3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sign-blue:hover,
.sign-blue:focus {
  -webkit-box-shadow: inset 0px 0px 8px 3px #9a76ec;
  box-shadow: 0px 0px 10px 3px #b194f3, inset 0px 0px 10px 3px #b194f3;
  border-color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b194f3, 0 0 40px #b194f3,
    0 0 50px #b194f3, 0 0 60px #b194f3, 0 0 70px #ff94b8;
}

/* GREEN */

.sign-green {
  text-align: center;
  font-size: 20px;
  width: 230px;
  height: 80px;
  border-radius: 4px;
  cursor: pointer;
}

.sign-green {
  background-color: transparent;
  border: 2px solid #cbffc0;
  color: #cbffc0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sign-green:hover,
.sign-green:focus {
  -webkit-box-shadow: inset 0px 0px 8px 3px #b0f7a2;
  box-shadow: 0px 0px 10px 3px #cbffc0, inset 0px 0px 10px 3px #cbffc0;
  border-color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #cbffc0, 0 0 40px #cbffc0,
    0 0 50px #cbffc0, 0 0 60px #cbffc0, 0 0 70px #ff94b8;
}

/* YELLOW */

.sign-yellow {
  text-align: center;
  font-size: 20px;
  width: 230px;
  height: 80px;
  border-radius: 4px;
  cursor: pointer;
}

.sign-yellow {
  background-color: transparent;
  border: 2px solid #fff0c0;
  color: #fff0c0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sign-yellow:hover,
.sign-yellow:focus {
  -webkit-box-shadow: inset 0px 0px 8px 3px #fae7aa;
  box-shadow: 0px 0px 10px 3px #fff0c0, inset 0px 0px 10px 3px #fff0c0;
  border-color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff0c0, 0 0 40px #fff0c0,
    0 0 50px #fff0c0, 0 0 60px #fff0c0, 0 0 70px #ff94b8;
}
