.form-calc {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
}
.home-text {
  display: flex;
  justify-content: center;
  background-color: none;
  flex-direction: row;
  margin-top: 20vh;
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
  color: #fff;
  padding: 4rem 6rem 5.5rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
}
