.main {
  background-image: url("./assets/red-planet.jpg");
  background-position: cover;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* linear-gradient(
      to bottom,
      rgb(185, 154, 154),
      rgba(161, 99, 99, 0.65)
    ), */